
@font-face {
    font-family: 'Goldoni';
    font-style: normal;
    font-weight:900;
    src: url('/fonts/Goldoni_DEMO.otf');
}

@font-face {
    font-family:"Gill Sans";
    font-style:normal;
    font-weight:500;
    src: url('/fonts/Gill_Sans.otf');
}

@font-face {
    font-family:"Digital 7";
    font-style:normal;
    font-weight:500;
    src: url('/fonts/digital-7.regular.ttf');
}